/* Importamos la fuente Poppins de googleapis para nuestra web */
@import url(https://fonts.googleapis.com/css?family=Poppins);

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.div-menu-top {
    background-color: black;
    height: 50px;
    padding: 0.5vw;
    z-index: 100;
    text-align: center;
    /* position: sticky para hacer que el menú se quede siempre arriba */
    position: sticky;
    width: 100%;
    top: 0;
}

.div-menu-top nav a{
    text-decoration:none;
    color:white;
}
          
.div-menu-top nav li{
    display:inline-block;
    width:150px;
    height:30px;
    background-color:#000;
    color: white;
    text-align:center;
    position:relative;
}
          
.div-menu-top nav li:hover{
    background-color: rgb(99, 99, 99);
    color:rgb(0, 0, 0);
    border-radius: 5px;
}
          
.div-menu-top nav li> ul{
    display:none;
}

.div-menu-top nav li:hover>ul{
    display:block;
    position:absolute;
    top:30px;
    left:0px;
    z-index: 3;
}

.div-principal {
    height: auto;
    margin-top: 1vw;
}

.div-hoteles {
    text-align: center;
}

.div-hoteles h2 {
    color:rgb(35, 116, 131);
}

.div-mirador-dunas {
    margin: 2vw auto;
    border-color: rgb(33, 109, 122);
    border-top-style: dashed;
    border-bottom-style: dashed;
    width: 80%;
}

.div-mirador-dunas h2 {
    margin-top: 2vw;
}

.div-mirador-dunas p {
    margin-top: 1vw;
    text-align: justify;
    text-align-last: center;
}

.div-mirador-video-img {
    padding-top: 2vw;
    display: flex;
    justify-content: space-around;
}

.div-mirador-video-img iframe {
    border-radius: 20px;
}

.div-mirador-video-img p {
    font-weight: bold;
    padding-bottom: 1vw;
}

.div-mirador-video-img img {
    object-fit: cover;
    width: 350px;
    height: 250px;
    border-radius: 20px;
}

.div-mirador-dunas-prestaciones {
    margin-top: 3vw;
}

.div-mirador-dunas-prestaciones p {
    margin-bottom: 2vw;
}

.div-mirador-dunas-prestaciones h3 {
    color:rgb(35, 116, 131);
}

.div-mirador-dunas-prestaciones div {
    display: inline-block;
    padding: 1vw;
}

.div-mirador-dunas-prestaciones img {
    width: 50px;
}

.div-mirador-dunas-mas {
    margin-top: 1vw;
    margin-bottom: 2vw;
}

.div-mirador-dunas-mas a {
    text-decoration: none;
    color: rgb(35, 116, 131);
    font-weight: bold;
}

.div-gregory {
    margin: 2vw auto;
    border-color: rgb(33, 109, 122);
    border-bottom-style: dashed;
    width: 80%;
}

.div-gregory p {
    margin-top: 1vw;
    text-align: justify;
    text-align-last: center;
}

.div-gregory-video-img {
    padding-top: 2vw;
    display: flex;
    justify-content: space-around;
}

.div-gregory-video-img iframe {
    border-radius: 20px;
}

.div-gregory-video-img p {
    font-weight: bold;
    padding-bottom: 1vw;
}

.div-gregory-video-img img {
    object-fit: cover;
    width: 350px;
    height: 250px;
    border-radius: 20px;
}

.div-gregory-prestaciones {
    margin-top: 3vw;
}

.div-gregory-prestaciones p {
    margin-bottom: 2vw;
}

.div-gregory-prestaciones h3 {
    color:rgb(35, 116, 131);
}

.div-gregory-prestaciones div {
    display: inline-block;
    padding: 1vw;
}

.div-gregory-prestaciones img {
    width: 50px;
}

.gregory-prestaciones3 img {
    width: 40px;
}

.div-gregory-mas {
    margin-top: 1vw;
    margin-bottom: 2vw;
}

.div-gregory-mas a {
    text-decoration: none;
    color: rgb(35, 116, 131);
    font-weight: bold;
}

.div-suites-villas {
    margin: 2vw auto;
    border-color: rgb(33, 109, 122);
    border-bottom-style: dashed;
    width: 80%;
}

.div-suites-villas p {
    margin-top: 1vw;
    text-align: justify;
    text-align-last: center;
}

.div-suites-villas-video-img {
    padding-top: 2vw;
    display: flex;
    justify-content: space-around;
}

.div-suites-villas-video-img iframe {
    border-radius: 20px;
}

.div-suites-villas-video-img p {
    font-weight: bold;
    padding-bottom: 1vw;
}

.div-suites-villas-video-img img {
    object-fit: cover;
    width: 350px;
    height: 250px;
    border-radius: 20px;
}

.div-suites-villas-prestaciones {
    margin-top: 3vw;
}

.div-suites-villas-prestaciones p {
    margin-bottom: 2vw;
}

.div-suites-villas-prestaciones h3 {
    color:rgb(35, 116, 131);
}

.div-suites-villas-prestaciones div {
    display: inline-block;
    padding: 1vw;
}

.div-suites-villas-prestaciones img {
    width: 50px;
}

.suites-villas-prestaciones8 img {
    width: 40px;
}

.div-suites-villas-mas {
    margin-top: 1vw;
    margin-bottom: 2vw;
}

.div-suites-villas-mas a {
    text-decoration: none;
    color: rgb(35, 116, 131);
    font-weight: bold;
}

.div-maspalomas {
    margin: 2vw auto;
    width: 80%;
}

.div-maspalomas p {
    margin-top: 1vw;
    text-align: justify;
    text-align-last: center;
}

.div-maspalomas-video-img {
    padding-top: 2vw;
    display: flex;
    justify-content: space-around;
}

.div-maspalomas-video-img iframe {
    border-radius: 20px;
}

.div-maspalomas-video-img p {
    font-weight: bold;
    padding-bottom: 1vw;
}

.div-maspalomas-video-img img {
    object-fit: cover;
    width: 350px;
    height: 250px;
    border-radius: 20px;
}

.div-maspalomas-prestaciones {
    margin-top: 3vw;
}

.div-maspalomas-prestaciones p {
    margin-bottom: 2vw;
}

.div-maspalomas-prestaciones h3 {
    color:rgb(35, 116, 131);
}

.div-maspalomas-prestaciones div {
    display: inline-block;
    padding: 1vw;
}

.div-maspalomas-prestaciones img {
    width: 50px;
}

.div-maspalomas-mas {
    margin-top: 1vw;
}

.div-maspalomas-mas a {
    text-decoration: none;
    color: rgb(35, 116, 131);
    font-weight: bold;
}

/* Footer */

.div-footer {
    text-align: center;
    background-color:rgb(35, 116, 131);
    margin-top: 2vw;
    height: 60px;
}

.div-footer ul li {
    display: inline-block;
    padding: 0.9vw 5vw;
}

.div-footer a {
    text-decoration: none;
    color: white;
}

/*  */